.scorecard-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1px;
    border: 1px solid black;
    margin-bottom: 15px;
  }
  
  .scorecard-grid div {
    padding: 4px;
    border: 1px solid black;
    background-color: #f1f1f1;
    text-align: center;
  }
  
  .grid-label {
    font-weight: bold;
    background-color: #d4d4d4;
  }
  
  select {
    width: 100%;
  }
  